html {
	font-family: DejaVu Sans, Bitstream Vera Sans, Arial, Sans;
}
section#summary {
	margin-bottom: 1em;
}
table#results {
	width: 100%; border-collapse: collapse; table-layout: fixed;
}
table#results th:first-child {
	width: 4em;
}
table#results td:first-child {
	width: 4em;
}
table#results th:last-child {
	width: 50%;
}
table#results td:last-child {
	width: 50%;
}
table#results th {
	padding: 0px 0px 0.5em; border-bottom-color: black; border-bottom-width: medium; border-bottom-style: solid;
}
table#results td {
	padding: 1em 1em 0.5em; border-bottom-color: black; border-bottom-width: thin; border-bottom-style: solid;
}
tr.pass > td:first-child {
	color: green;
}
tr.fail > td:first-child {
	color: red;
}
tr.timeout > td:first-child {
	color: red;
}
tr.notrun > td:first-child {
	color: blue;
}
.pass .fail .timeout .notrun > td:first-child {
	font-variant: small-caps;
}
table#results span {
	display: block;
}
table#results span.expected {
	font-family: DejaVu Sans Mono, Bitstream Vera Sans Mono, Monospace; white-space: pre;
}
table#results span.actual {
	font-family: DejaVu Sans Mono, Bitstream Vera Sans Mono, Monospace; white-space: pre;
}
